@import '../../index.css';

.left-side{
  background-color: var(--card-background);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;


  width: 300px;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 999; 
  height: 100vh;

} 

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
  scrollbar-width: none;
}

#left-logo{
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0.5em;
}

.left-buttons{
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 1.2em;

  margin-bottom: 2em;
  
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.logout{
  margin-top: auto;
}

.left-buttons:hover{
  color: var(--red-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.import{
  margin-right: 0.2em;
}

.nav-items{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
}

.nav-item{
  text-decoration: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;

  color: var(--white-color);
  font-size: 1.5em;
  font-weight: 600;
}

.selected-item{
  text-decoration: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;

  color: var(--red-color);
  font-size: 1.5em;
  font-weight: 600;
}

.nav-item:hover{
  color: var(--red-color);
  text-decoration: none;
}

.selected-item:hover{
  color: var(--red-color);
  text-decoration: none;
}

.nav-icon{
  margin-right: 1em;
}

@media(max-width:1450px)
{
  .left-side{
    font-size:0.8em;
    overflow-x: hidden;
  }

  .nav-items{
    margin-top: 10em;
  }

  .left-buttons{
    margin-left: 1.2em;
  }
  #left-logo{
    width: 80%;
    margin-left:1.2em;
  }
}

@media(max-width:1250px)
{
  
  .left-buttons{
    margin-left: 1em;
  }
  .nav-items{
    margin-top: 10em;
    margin-left: 1em;
  }

  #left-logo{
    width: 100%;
    margin-left:1.2em;
  }
}

@media(max-width: 1100px){
  .spanText{
    display: none;
  }

  .nav-items{
    font-size: 1.5em;
    margin-left: 1.6em;
    margin-top: 5em;
  }

  #left-logo{
    width: 100%;
    margin-left: 1.5em;
  }
}

