@import '../../index.css';

.left-side{
  background-color: var(--card-background);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

}

#left-logo{
  width: 10%;
  height: 10%;
}

.left-buttons{
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 1.2em;

  margin-bottom: 2em;
  
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.logout{
  margin-top:2em;
}

.left-buttons:hover{
  color: var(--red-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.import{
  margin-right: 0.2em;
}

.nav-items{
  display: flex;
  flex-direction: column;

}

.nav-item{
  text-decoration: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;

  color: var(--white-color);
  font-size: 2em;
  font-weight: 600;
}

.nav-icon{
  margin-right: 1em;
}


