@import '../../../index.css';

.calendar{
    background-color: var(--red-color);
    border-radius: 8px;

    margin-bottom: 1em;
    margin-top: 1em;
    padding:0.2em;
    margin-left: auto;


    width: fit-content;
    font-weight: 600;
    font-size: 1.4em;
}