@import '../../../index.css';

.sales-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.top-things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
} 

.bottom-things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.left-names{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.left-names > .card {
    width: 100%;
}

.right-line{
    width: 60%;
    height: 90%;
}

.right-line > .line-chart {
    width: 100%;
    height: 100%; 
    margin-top: 1em;
}

@media(max-width: 1100px){
    .bottom-things > .table-div > .table-title{
        font-size: 1.5em;
    }

    .top-things > .right-line > .line-chart > .chart-title{
        font-size: 1.5em;
    }

}

@media(max-width:768px){
    .top-things > .right-line > .line-chart > .chart-title{
        font-size: 1.2em;
    }
}

@media(max-width:700px){
    .right-line {
        height: 100%;
    }
}

@media(max-width:610px){
    .top-things{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: 2em;
        margin-bottom: 2em; */
    } 

    .left-names{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-things{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .left-names > .card:nth-child(1) {
        width: 90% !important;
        margin-right: 0.5em;
    }

    .left-names > .card:nth-child(2) {
        width: 90% !important;
        margin-left: 0.5em;
    }

    .bottom-things > .table-div{
        width: 100% !important;
    }

    .right-line {
        width: 100%;
        height: 80%;
        margin-left: 0;
    }

    .left-names > .card > .card-title{
        font-size: 1.2em;
    }

    .sales-content{
        padding-left: 1em;
        padding-right: 1em;
    }

    .top-things > .right-line > .line-chart > .chart-title{
        font-size: 1em;
    }

}

@media(max-width:500px){
    .left-names > .card > .card-title{
        font-size: 1.5em;
    }

    .sales-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media(max-width:400px){
    .left-names{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .left-names > .card:nth-child(1) {
        width: 100% !important;
        margin-right: 0;    
    }

    .right-line{
        width: 100%;
        margin-left: 0;
    }
}



