@import './index.css';

.right-side{
  background-color: var(--core-background);

  color: var(--white-color);
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 999; 
  height: 100vh;
}

.toggle-menu{
  display: none;
}

#menu{
  display: none;
}

.menu-bar{
  cursor: pointer;
}

@media(max-width: 768px)
{

  .right-side{
    margin-left: 1em;
  }

  .toggle-menu{
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--card-background);

    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .tempura{
    color: var(--red-color);
    font-weight: 600;
  }

  .toggle-icon{
    color: var(--red-color);
    font-size: 1.1em;
  }

  input[type=checkbox]:checked ~ .row > .left-side{
    display: none !important;
  }
}
