@import './index.css';

.right-side{
  background-color: var(--core-background);

  color: var(--white-color);
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 999; 
  height: 100vh;
}

.toggle-menu{
    display: none;
  }

.menu-close{
  display: none;
}

#menu{
  display: none;
}

.menu-bar{
  cursor: pointer;
}

@media(max-width: 768px)
{

  .right-side{
    display: none;
  }

  .toggle-menu{
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em 0.5em;
    background-color: var(--core-background);
    width: 100vw;

    /* position: fixed !important;
    top:0;
    width: 90%; */

    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .tempura{
    color: var(--red-color);
    font-weight: 600;
  }

  .toggle-icon{
    color: var(--red-color);
    font-size: 1.1em;
  }

  .menu-close{
    display: block;
    font-size: 2em;
    right: 0;
  }

  input[type=checkbox]:checked ~ .row > .left-side{
    /* transform: translate3d(100vw, 0, 0) !important; */
    display: none !important;
  }

  input[type=checkbox]:checked ~ .row > .right-side{
    display: block;
    margin-left: 0.2em;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    padding-left: 0.5em !important;
  }

  
}
