:root {
  --white-color: #FFFFFF;
  --red-color: #FF3945;
  --card-background: #0D1B2A;
  --core-background: #142231;
  --menu-selection: #384753;
  --border-radius: 8px;
}

html, body{
  color: var(--white-color);
  background-color: var(--core-background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--core-background);
  width: 100vw; 
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

