@import '../../../index.css';

.info-drill{
    background-color: var(--card-background);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    width: 25%;

    overflow-x: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.drill-title{
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

.info-field{
    color:var(--red-color);
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 0.8em;
    padding-left: 1em;
}

.info-value{
    color:var(--white-color);
    font-size: 1.2em;
    font-weight: 600;
}

@media(max-width: 1500px){
    .info-drill{
        width: 35%;
    }
}

@media(max-width: 850px){
    .info-drill{
        width: 42%;
    }
}

@media(max-width: 768px){
    .info-drill{
        width: 90%;
        margin:0 auto;
    }
}