@import '../../../index.css';

.stock-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.top-cards, .bottom-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-listing{
    margin-top:3em;
    margin-bottom: 1em;

    max-height: 50vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


@media(max-width: 1560px){
    .top-cards > .card, .bottom-cards > .card{
        width: 45%;
    }
}

@media(max-width: 1100px){
    .top-cards > .card, .bottom-cards > .card{
        width: 45%;
    }

    .card-title{
        font-size: 1.2em;
    }

}

@media(max-width: 620px){
    .top-cards, .bottom-cards{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100% !important;
    }

    .card-title{
        font-size: 1.4em;
    }

    .stock-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}
