@import '../../../index.css';

.purchases-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.top-things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
} 

.bottom-things{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.left-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.left-cards > .card {
    width: 100%;
}

.left-cards > .card > .card-title{
    font-size: 1.5em;
}

.right-chart{
    width: 50%;
}

.right-chart > .pie-chart {
    width: 100%;
    height: 90%; 
    margin-top: 1em;
}

.bottom-things > .table-div{
    width: 42%;
}

.bottom-things > .table-div:nth-child(1){
    width: 52%;
}

@media(max-width: 1100px){
    .bottom-things > .table-div > .table-title{
        font-size: 1.5em;
    }

}

@media(max-width:610px){
    .top-things{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: 2em;
        margin-bottom: 2em; */
    } 

    .left-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-things{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .left-cards > .card:nth-child(1) {
        width: 90% !important;
        margin-right: 0.5em;
    }

    .left-cards > .card:nth-child(2) {
        width: 90% !important;
        margin-left: 0.5em;
    }

    .bottom-things > .table-div{
        width: 100% !important;
    }

    .right-chart {
        width: 60%;
        margin-left: 20%;
    }

    .left-cards > .card > .card-title{
        font-size: 1.2em;
    }
}

@media(max-width:500px){
    .left-cards > .card > .card-title{
        font-size: 1.5em;
    }

    .purchases-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media(max-width:400px){
    .left-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .left-cards > .card:nth-child(1) {
        width: 100% !important;
        margin-right: 0;    
    }

    .right-chart{
        width: 100%;
        margin-left: 0;
    }
}