@import '../../../index.css';

.borderless tr {
    border: none;
}

.table-header{
    border-bottom: solid 2px white;
}

.table-div{
    background-color: var(--card-background);
    border-radius: 8px;
    display: inline-block;

    padding-left: 1em;
    padding-right: 1em;
}

.table-title{
    margin-left: 0.5em;
    margin-top: 0.2em;
    margin-right: 1em;
}

.table{
    background-color: transparent !important;
}

.header-elem{
    font-weight: 100;
}

td{
    font-weight: 600;
    padding: 10px !important;
}

.large-table > td:first-child, .large-table > td:nth-child(2){
    color: var(--white-color) !important;
}

.large-table > td{
    color: var(--red-color) !important;
}

.normal-table > td:first-child{
    color: var(--white-color) !important;
}

.normal-table > td{
    color: var(--red-color) !important;
}
