@import '../../../index.css';

.client-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.all-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-elements{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bot-elements{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.top-elements > div.table-div.table-responsive{
    width: 40%;
}

div.top-elements > div.info-drill{
    width: 40%;
}

@media(max-width: 1560px){
    
}

@media(max-width: 1100px){
    

}

@media(max-width: 620px){
    

    .client-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}

