@import '../../../index.css';

.client-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.all-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 17vh;
}

.top-elements, .bot-elements{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.top-elements > div.table-div.table-responsive{
    width: 40%;
}

div.top-elements > div.info-drill{
    width: 40%;
}

@media(max-width: 1330px){
    .bot-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    div.bot-elements > div:nth-child(1), div.bot-elements > div:nth-child(2){
        width: 60%;
    }

    div.bot-elements > div:nth-child(2){
        margin-bottom: 1em;
    }
}

@media(max-width: 1100px){
    .top-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    div.top-elements > div.table-div.table-responsive{
        width: 60%;
        margin-top:1em;
    }
    
    div.top-elements > div.info-drill{
        width: 60%;
    }

    .client-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media(max-width: 800px){
    div.top-elements > div.table-div.table-responsive{
        width: 75%;
        margin-top:1em;
    }
    
    div.top-elements > div.info-drill{
        width: 75%;
    }

    div.bot-elements > div:nth-child(1), div.bot-elements > div:nth-child(2){
        width: 75%;
    }

    .bot-elements .card-value{
        font-size: 3vmax;
    }
}

@media(max-width: 620px){

    div.top-elements > div.table-div.table-responsive{
        width: 100%;
        margin-top:1em;
    }
    
    div.top-elements > div.info-drill{
        width: 100%;
        margin-top: 1em;
    }

}

