@import '../../../index.css';

.product-content{
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.all-info-product{
    display: inline-block;
    /*flex-direction: row;
    justify-content: space-between; */
    margin-top: 17vh;
}

.main-info-product {
    /* display:flex;
    flex-direction: column; */
    width: 45vw !important;
    float: left;
}

.main-info-product > .info-drill {
    width: 50%;
}

.single-card-col{
    width: 30vw !important;
    float: right;
    padding-left: 5vw;
}

.single-card-col > .card {
    width: 100%;
}

.single-card-col > .card:nth-child(1){
    margin-top: 0 !important;
}

@media(max-width: 1376px){
    .single-card-col{
        width: 30vw !important;
        float: right;
        padding-left: 5vw;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

    .main-info-product > .info-drill {
        width: 70%;
    }
}

@media(max-width: 1212px){
    .single-card-col{
        width: 29vw !important;
        float: right;
        padding-left: 5vw;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

    .single-card-col > .card > .card-title{
        font-size: 1.5em;
    }

    .main-info-product > .info-drill {
        width: 80%;
    }
}

@media(max-width: 1212px){
    .single-card-col{
        width: 29vw !important;
        float: right;
        padding-left: 5vw;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

    .single-card-col > .card > .card-title{
        font-size: 1.5em;
    }

    .main-info-product > .info-drill {
        width: 80%;
    }
}

@media(max-width: 1100px){
    .all-info-product{
        margin-top: 0 !important;
    }

    .product-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media(max-width: 1081px){
    .single-card-col{
        width: 27vw !important;
        float: right;
        padding-left: 5vw;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

}

@media(max-width: 910px){
    .single-card-col > .card > .card-title{
        font-size: 1.3em;
    }

}

@media(max-width: 892px){
    .single-card-col{
        width: 25vw !important;
        float: right;
        padding-left: 5vw;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

    .main-info-product > .info-drill {
        width: 90%;
    }

}

@media(max-width:768px){

    .main-info-product {
        width: 90vw !important;
    }
    
    .main-info-product > .info-drill {
        width: 100%;
    }
    
    .single-card-col{
        width: 90vw !important;
        float: left;
        padding-left: 0vw;
        padding-bottom: 3vh;
    }
    
    .single-card-col > .card {
        width: 100%;
    }

    .single-card-col > .card > .card-value {
        width: 100%;
        font-size: 2em;
    }

}

@media(max-width:620px){

    .main-info-product {
        width: 82vw !important;
    }

    .single-card-col{
        width: 82vw !important;
    }

    .single-card-col > .card > .card-value {
        width: 100%;
        font-size: 2em;
    }

}